body{
    background-color: #3c3c3b;
    margin: 0;
    padding: 0 5% 0 5%;
    height: 100%;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    color: #FDF4EA;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 8vw;
    font-weight: bolder;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
    color: #FDF4EA;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 4vw;
    font-weight: normal;
}

p{
    color: #FDF4EA;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
    margin: 1% 0 0 0;
}

a{
    color: #FDF4EA;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
}
a:hover{
    color: #FDF4EA;
}

hr{
    width: 50%;
    border-color: #F0D4B3;
    box-sizing: border-box;
    border: 3px 0 0 0;
    border-style: solid;
    border-radius: 30px;
    margin: 10% auto 10% auto;
}


/* Classes*/
.TopMenu{
    height: 5%;
    padding: 4.5% 0 10px 0;
}
.navi{
    display: flex;
    gap: 8%;
    flex-direction: row;
    justify-content: end;
}

.topBut {
    font-size: 1.4vw;
    background: transparent;
    border: none;
    color: #FDF4EA;
    position: relative;
    text-align: center;
    transform-origin: bottom;

    box-sizing: border-box;
    padding: 0 10px 0 10px;

    transition: 0.3s;
}
.topBut::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 140%;
    height: 2px;
    width: 0;
    background-color: #F0D4B3;
    box-sizing: border-box;
    border-radius: 3em;


    transition: .5s ease;
    transform-origin: bottom left;
}
.topBut:hover::before {
    width: 100%;
}
.topBut:hover{
    transition: .3s;
    transform: scale(1.1);
}



.topBanner{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10% 0 5% 0;
}
.buttonTopContainer {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;

    margin-top: 10%;
}
.buttonTopContainer:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.buttonTopContainer:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
.buttonTopContainer:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.imageMid{
    object-fit: cover;
    width: 500px;
    height: 508px;
    object-position: 0 0;
    position: relative;
    overflow: hidden;
    top: 8px;
}



/* .mainContainer {
    padding: 10% 0 8% 0;
    text-align: center;
} */
.bannerWrapper{
    display: block;
}
.cardsBanner {
    display: grid;
    grid-template-columns: 1fr 1.618fr;

    gap: 40px;
}
.cardsGeneric {
    border-style: solid;
    border-color: #FDF4EA;
    border-radius: 20px;
    border-width: 3px;
    box-shadow: 0px 2px 2px #4C4B4C;

    text-align: left;
    padding: 30px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
}
.textWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex:none;
}

.iconWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.voxelIcon{
    display : flex;
    justify-content: center;
}



footer{
    padding: 10% 0 2% 0;
}




/* Strip Arts */
.spinner {
    width: 100px;
    height: 100px;
    animation: spinner-y0fdc1 5s infinite ease;
    transform-style: preserve-3d;
    display: inline-block;
}
   
.spinner > div {
    background-color: #FDF4EA99;
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #F0D4B3;
}
   
.spinner div:nth-of-type(1) {
    transform: translateZ(-52px) rotateY(180deg);
}
   
.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}
   
.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}
   
.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}
   
.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}
   
.spinner div:nth-of-type(6) {
    transform: translateZ(52px);
}
   
@keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}





/* Constructions */

.underConstruction{
    box-sizing: content-box;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
}

.lineWrapper{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.underConstruction > hr{
    margin: 10% auto 5% auto;
    border-style: dotted;
    border-width: 25px 0 0 0;
    width: 100px;
}

.loader {
    width: 120px;
    height: 150px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ddd 50%, #bbb 51%),
        linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%);
    background-position: 0 20px, 45px 0, 8px 6px, 55px 3px, 75px 3px, 95px 3px;
    background-size: 100% 4px, 1px 23px, 30px 8px, 15px 15px, 15px 15px, 15px 15px;
    position: relative;
    border-radius: 6%;
    animation: shake 3s ease-in-out infinite;
    transform-origin: 60px 180px;

    margin-left: auto;
    margin-right: auto;
}

.loader:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 100%;
    width: 7px;
    height: 5px;
    background: #aaa;
    border-radius: 0 0 4px 4px;
    box-shadow: 102px 0 #aaa;
}

.loader:after {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    background-color: #bbdefb;
    background-image: linear-gradient( to right, #0004 0%, #0004 49%, #0000 50%, #0000 100% ),
        linear-gradient(135deg, #64b5f6 50%, #607d8b 51%);
    background-size: 30px 100%, 90px 80px;
    border-radius: 50%;
    background-repeat: repeat, no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
    border: 10px solid #DDD;
    box-shadow: 0 0 0 4px #999 inset, 0 0 6px 6px #0004 inset;
    animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(360deg)
    }

    75% {
        transform: rotate(750deg)
    }

    100% {
        transform: rotate(1800deg)
    }
}

@keyframes shake {
    65%, 80%, 88%, 96% {
        transform: rotate(0.5deg)
    }

    50%, 75%, 84%, 92% {
        transform: rotate(-0.5deg)
    }

    0%, 50%, 100% {
        transform: rotate(0)
    }
}

.loader2 {
    width: 160px;
    height: 185px;
    position: relative;
    background: #fff;
    border-radius: 100px 100px 0 0;
    text-align: center;
}

.loader2:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 125px;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    background-image: radial-gradient(circle, #000 48%, transparent 55%),
      radial-gradient(circle, #000 48%, transparent 55%),
      radial-gradient(circle, #fff 30%, transparent 45%),
      radial-gradient(circle, #000 48%, transparent 51%),
      linear-gradient(#000 20px, transparent 0),
      linear-gradient(#cfecf9 60px, transparent 0),
      radial-gradient(circle, #cfecf9 50%, transparent 51%),
      radial-gradient(circle, #cfecf9 50%, transparent 51%);
    background-repeat: no-repeat;
    background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
      50px 25px, 70px 70px, 70px 70px;
    background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
      50% 50px, 50% 22px, 50% 45px;
    animation: faceLift 3s linear infinite alternate;
}

.loader2:before {
    content: "";
    position: absolute;
    width: 140%;
    height: 125px;
    left: -20%;
    top: 0;
    background-image: radial-gradient(circle, #fff 48%, transparent 50%),
        radial-gradient(circle, #fff 48%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 65px 65px;
    background-position: 0px 12px, 145px 12px;
    animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
    0% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(-30%);
    }
}

@keyframes earLift {
    0% {
    transform: translateX(10px);
    }

    100% {
    transform: translateX(0px);
    }
}

.loaderBlink {
    display: flex;
    transition: all 0.4s;
}
.loaderBlink div {
    margin-left: 0.8rem;
    background-color: transparent;
    box-shadow: 0px 2px 2px black;
    border-radius: 3em;
    height: 1rem;
    width: 2rem;
}
.box-load1 {
    animation: brighten 1.5s infinite;
}
.box-load2 {
    animation: brighten 1.5s infinite;
    animation-delay: .3s;
}
.box-load3 {
    animation: brighten 1.5s infinite;
    animation-delay: .6s;
}
@keyframes brighten {
    0% {
      background-color: #F0D4B3;
      box-shadow: none;
    }
}
  





/*Mobile layouts*/
@media (prefers-color-scheme: light){
    body{
        background-color: #fefdfb;
    }

    h1{
        color: #4C4B4C;
    }
    h2{
        color: #4C4B4C;
    }
    p{
        color: #8E8988;
    }
    a{
        color: #4C4B4C;
    }
    a:hover{
        color: #4C4B4C;
    }
    hr{
        border-color: #3c3c3b;
    }

    .topBut{
        color: #3c3c3b;
    }
    .topBut::before{
        background-color: #3c3c3b;
    }

    .cardsGeneric{
        background-color: #E7E9EB;
        border-color: #E7E9EB;
        box-shadow: 0 2px 2px #8E8988;
    }
}

@media (max-width: 920px){

    h1{
        font-size: 11vw;
    }
    h2{
        font-size: 5.5vw;
    }
    p {
        font-size: 3.5vw;
    }

    .TopMenu{
        margin-bottom: 10%;
    }
    .navi{
        justify-content: center;
    }
    .topBut{
        font-size: 3vw;
        min-width: 20%;
    }
    


    .topBanner{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .topBanner > div .textWrapper > p{
        margin-top: 10%;
    }

    .cardsBanner{
        grid-template-columns: none;
    }

    .cardsGeneric > .textWrapper > h2{
        font-size: 6vw;
    }

    .underConstruction{
        margin-top: 10vw;
        gap: 10vw;
    }
}